<div id="Home">
    <div class="message-list">

        <v-progress-circular 
            class="ma-auto"
            v-if="messagesLoading"
            indeterminate 
            color="primary"
            :size="70"
            :width="3"
        ></v-progress-circular>

        <Talkbubble v-if="!messagesLoading" v-for="message in messages" :message="message.body" :align="message.from === direction['interlocutor'] ? 'left' : 'right'"/>
        
        <v-text-field 
            class="input"
            solo
            v-model="message" 
            :append-icon="'send'"
            clearable
            label="Message" 
            type="text" 
            @click:append="sendMessage" 
            @click:clear="clearMessage">
        </v-text-field>
    </div>
</div>