<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Websocket test</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>


    <div class="container mt-3">
        <ul id="messageList"></ul>
        <div class="input-group mb-3">
            <input type="text" id="messageBox" class="form-control" placeholder="Ecrire un truc">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" onclick="sendMessage()">Envoyer</button>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static',filename='scripts/script.js') }}"></script>
</body>

</html>