html {
  overflow-y: hidden !important;

  body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.v-toolbar.theme--light.primary {
  color: white;
  .v-icon {
    color: white;
  }
}

.background {
  .theme--light & {
    background-color: #fafafa;
  }
  .theme--dark & {
    background-color: #303030;
  }
}

.v-content {
    height: calc(100vh - 4rem);
    overflow-y: hidden;
}

.slide-right {

  &-enter {
    transform: translateX(100vw);
    width: 100vw;
    position: absolute;
    z-index: 2;
  }
  &-enter-to {
    transform: translateX(0);
    width: 100vw;
    position: absolute;
    z-index: 2;
  }

  // The animation
  &-enter-active, &-leave-active, &-leave-active::before {
    transition: all .4s cubic-bezier(.4, 0, .2, 1);
  }

  // What doesn't change
  &-leave, &-leave-to {
    position: absolute;
    width: 100vw;

    &::before {
      content: '';
      background-color: black;
      width: 100vw;
      height: 100vh;
      position: absolute;
      z-index: 1;
    }
  }

  // What changes
  &-leave::before {
      opacity: 0;
  }
  &-leave-to::before {
      opacity: 0.3;
  }
}

.slide-left {

  &-leave {
    transform: translateX(0);
    width: 100vw;
    position: absolute;
    z-index: 2;
  }

  &-leave-to {
    transform: translateX(100vw);
    width: 100vw;
    position: absolute;
    z-index: 2;
  }

  &-enter-active,
  &-enter-active::before,
  &-leave-active {
    transition: all .4s cubic-bezier(0.8, 0, 0.6, 1);
  }

  &-enter,
  &-enter-to {
    width: 100vw;
    top:0;
    left: 0;

    &::before {
      content: '';
      background-color: black;
      width: 100vw;
      height: 100vh;
      position: absolute;
      z-index: 1;
    }
  }

  &-enter::before{
    opacity: 0.3;
  }

  &-enter-to::before {
    opacity: 0;
  }
}