.talkbubble {
    max-width: 90%;
    border-radius: 0.3rem;
    color: #fff;
    padding: 0.7rem;
    position: relative;
    max-height: fit-content;

    margin-top: 0.2rem;
    margin-bottom: 0.2rem;

    $arrow-size: 0.2rem;

    &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
    }

    &.left {
        margin-right: auto;
        margin-left: calc(#{$arrow-size} * 2);
        border-bottom-left-radius: 0;
        background: var(--v-secondary-base);

        @at-root&:before {
            border-left: $arrow-size solid transparent;
            border-right: $arrow-size solid var(--v-secondary-base);
            border-top: $arrow-size solid transparent;
            border-bottom: $arrow-size solid var(--v-secondary-base);
            left: calc(#{$arrow-size} * -2);
        }
    }

    &.right {
        margin-left: auto;
        margin-right: calc(#{$arrow-size} * 2);
        border-bottom-right-radius: 0;
        background: var(--v-primary-base);

        @at-root&:before {
            border-left: $arrow-size solid var(--v-primary-base);
            border-right: $arrow-size solid transparent;
            border-top: $arrow-size solid transparent;
            border-bottom: $arrow-size solid var(--v-primary-base);
            right: calc(#{$arrow-size} * -2);
        }
    }

    .time {
        position: relative;
        bottom: -7px;
        float: right;
        right: 0;
        opacity: 0.4;
        font-size: smaller;
    }

    .body {
        margin-right: 1rem;
    }
}